{% extends "base-toyline.html" %}

{% block main %}
    <h3>D.C</h3>
    <article>
        {% for dc in dc_toys %}
        <div class="toy-item">
            <img src="/static/image/{{dc[2]}}" alt="{{  dc[1]  }}">
            <p>{{  dc[1]  }}</p>
        </div>
        {% endfor %}
    </article>

<!--
        <table>
            <thead>
                <tr>
                    <th>Toy Line</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dc in dc_toys %}
                <tr>
                    <td>{{  dc[0]  }}</td>
                    <td>{{  dc[1]  }}</td>
                    <td><img src="/static/image/{{dc[2]}}"></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
-->
{% endblock %}
