{% extends "base.html" %}

{% block main %}
    <a href="/toyline"><h2>Toy Line</h2></a>
        <div class="row">
            <!--DC-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/dc-background1.jpg">
                <div class="layer-webpage">
                    <a href="/dc">D.C</a>
                </div>
            </div>
            <!--Fast & Furious-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/fastandfurious-background1.png">
                <div class="layer-webpage">
                    <a href="/fandf">Fast & Furious</a>
                </div>
            </div>
            <!--Marvel-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/marvel-background1.jpg">
                <div class="layer-webpage">
                    <a href="/marvel">Marvel</a>
                </div>
            </div>
            <!--Star Wars-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/starwars-background1.jpeg">
                <div class="layer-webpage">
                    <a href="/starwars">Star Wars</a>
                </div>
            </div>
            <!--Terminator-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/terminator-background1.jpg">
                <div class="layer-webpage">
                    <a href="/terminator">Terminator</a>
                </div>
            </div>
            <!--Top Gun-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/topgunmaverick-background1.jpg">
                <div class="layer-webpage">
                    <a href="/topgun">Top Gun</a>
                </div>
            </div>
            <!--Transformers-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/transformers-background1.jpg">
                <div class="layer-webpage">
                    <a href="/transformers">Transformers</a>
                </div>
            </div>
        </div>

    <h3>Marvel</h3>
        <table>
            <thead>
                <tr>
                    <th>Toy Line</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for marvel in marvel_toys %}
                <tr>
                    <td>{{  marvel[0]  }}</td>
                    <td>{{  marvel[1]  }}</td>
                    <td><img src="/static/image/{{marvel[2]}}"></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}