{% extends "base.html" %}

{% block main %}
    <a href="/location"><h2>Location</h2></a>
        <div class="row">
            <!--Attic-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/attic-background1.jpg" alt="Attic with boxes of toys">
                <div class="layer-webpage">
                    <a href="/attic">Attic</a>
                </div>
            </div>
            <!--Garage-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/garage-background1.jpg" alt="Garage with toys">
                <div class="layer-webpage">
                    <a href="/garage">Garage</a>
                </div>
            </div>
            <!--Toy Room-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/toyroom-background1.jpg" alt="Toy Room with toys on the shelf">
                <div class="layer-webpage">
                    <a href="/toyroom">Toy Room</a>
                </div>
            </div>
        </div>
    
    <h3>Garage</h3>
    <article>
        {% for garage in garage_toys %}
        <div class="toy-item">
            <img src="/static/image/{{garage[2]}}" alt="{{  garage[1]  }}">
            <p>{{  garage[1]  }}</p>
        </div>
        {% endfor %}
    </article>

<!--
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
            {% for garage in garage_toys %}
            <tr>
                <td>{{  garage[0]  }}</td>
                <td>{{  garage[1]  }}</td>
                <td><img src="/static/image/{{garage[2]}}" alt="{{  garage[1]  }}"></td>
            </tr>
            {% endfor %}
    
        </tbody>
    </table>
-->
{% endblock %}