{% extends "base.html" %}

{% block main %}
    <a href="/location"><h2>Location</h2></a>
        <div class="row">
            <!--Attic-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/attic-background1.jpg">
                <div class="layer-webpage">
                    <a href="/attic">Attic</a>
                </div>
            </div>
            <!--Garage-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/garage-background1.jpg">
                <div class="layer-webpage">
                    <a href="/garage">Garage</a>
                </div>
            </div>
            <!--Toy Room-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/toyroom-background1.jpg">
                <div class="layer-webpage">
                    <a href="/toyroom">Toy Room</a>
                </div>
            </div>
        </div>
    
    <h3>Toy Room</h3>

    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
            {% for toyroom in toyroom_toys %}
            <tr>
                <td>{{  toyroom[0]  }}</td>
                <td>{{  toyroom[1]  }}</td>
                <td><img src="/static/image/{{toyroom[2]}}"></td>
            </tr>
            {% endfor %}
    
        </tbody>
    </table>
{% endblock %}