{% extends "base.html" %}

{% block main %}
        <h2>All Data</h2>
        <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Location</th>
                <th>Universe</th>
                <th>Condition</th>
                <th>Decade Made</th>
                <th>Size</th>
                <th>Price Paid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for toy in toys %}
            <div class="alldata">
            <tr>
                <td>{{  toy[0]  }}</td>
                <td>{{  toy[1]  }}</td>
                <td>{{  toy[2]  }}</td>
                <td>{{  toy[3]  }}</td>
                <td>{{  toy[4]  }}</td>
                <td>{{  toy[5]  }}</td>
                <td>{{  toy[6]  }}</td>
                <td><img src="/static/image/{{toy[7]}}"></td>
            </tr>
            </div>
            {% endfor %}

        </tbody>
        </table>
{% endblock %}