{% extends "base.html" %}

{% block main %}
        <h2>All Data</h2>
        <div class="dropdown">
            <button class="dropdown-button">Sort by &#x21E9;</button>
            <div class="dropdown-content">
                <a href="/sort/1?sort=1&order={{ order }}">Description</a>
                <a href="/sort/location?sort=location&order={{ order }}">Location</a>
                <a href="/sort/toyline?sort=toyline&order={{ order }}">Toy Line</a>
            </div>
        </div>

        <!--<div class="alldata-table">-->
        <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Location</th>
                <th>Toy Line</th>
                <th>Condition</th>
                <th>Decade Made</th>
                <th>Size</th>
                <th>Price Paid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for toy in toys %}
            <tr>
                <td>{{  toy[0]  }}</td>
                <td>{{  toy[1]  }}</td>
                <td>{{  toy[2]  }}</td>
                <td>{{  toy[3]  }}</td>
                <td>{{  toy[4]  }}</td>
                <td>{{  toy[5]  }}</td>
                <td>{{  toy[6]  }}</td>
                <td><img src="/static/image/{{  toy[7]  }}" alt="{{  toy[0]  }}"></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
{% endblock %}