<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toys</title>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1fb51cad3a.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
    </header>
    <nav>
        <img src="/static/otherimage/toys-logo.png" alt="Gavin's Toy Collection logo, with a yellow and blue robot inside a grey circle" width="110">
        <div class="nav-links" id="navLinks">
            <div class="xmark"><i class="fa-solid fa-xmark" onclick="hideMenu()"></i></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/alldata">All Data</a></li>
                <li><a href="/location">Location</a></li>
                <li><a href="/toyline">Toy Line</a></li>
                <li><a href="/valuation">Valuation</a></li>
            </ul>
        </div>
        <div class="nav-search">
            <form method="POST" action="/search">
                <input type="text" placeholder="Search..." name ="search" id="search">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="bars"><i class="fa-solid fa-bars" onclick="showMenu()"></i></div>
    </nav>
    <main>
        <a href="/location"><h2>Location</h2></a>
        <div class="row">
            <!--Attic-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/attic-background1.jpg" alt="Attic with boxes of toys">
                <div class="layer-webpage">
                    <a href="/attic">Attic</a>
                </div>
            </div>
            <!--Garage-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/garage-background1.jpg" alt="Garage with toys">
                <div class="layer-webpage">
                    <a href="/garage">Garage</a>
                </div>
            </div>
            <!--Toy Room-->
            <div class="toyline-webpage">
                <div class="gradient"></div>
                <img src="/static/otherimage/toyroom-background1.jpg" alt="Toy Room with toys on the shelf">
                <div class="layer-webpage">
                    <a href="/toyroom">Toy Room</a>
                </div>
            </div>
        </div>

    {% block main %}{% endblock %}
    </main>
    
    <footer>
        <p>Images sourced from transformerland.com, u-buy.co.nz, and mightyape.co.nz</p>
        <p>&copy; Hayley Ng 2024</p>
    </footer>
    
    <!--JavaScript for Toggle Menu-->
    <script>

        var navLinks = document.getElementById("navLinks");

        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }

    </script>    
</body>
</html>