{% extends "base.html" %}

{% block main %}

        <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Location</th>
                <th>Toy Line</th>
                <th>Condition</th>
                <th>Decade Made</th>
                <th>Size</th>
                <th>Price Paid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for toy in searches %}
            <tr>
                <td>{{  toy[0]  }}</td>
                <td>{{  toy[1]  }}</td>
                <td>{{  toy[2]  }}</td>
                <td>{{  toy[3]  }}</td>
                <td>{{  toy[4]  }}</td>
                <td>{{  toy[5]  }}</td>
                <td>{{  toy[6]  }}</td>
                <td><img src="/static/image/{{  toy[7]  }}" alt="{{  toy[0]  }}"></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
{% endblock %}