{% extends "base.html" %}

{% block main %}
        <h2>Universe</h2>
        <table>
            <thead>
                <tr>
                    <th><a href="/sort/universe?sort=universe&order={{ order }}">Universe</a></th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for toy in toys %}
                <tr>
                    <td>{{  toy[0]  }}</td>
                    <td>{{  toy[1]  }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}
