{% extends "base.html" %}

{% block main %}
        <h2>Valuation</h2>
        <div class="dropdown">
            <button class="dropdown-button">Sort by ↓</button>
            <div class="dropdown-content">
                <a href="/sort/description?sort=description&order={{ order }}">Description</a>
                <a href="/sort/condition?sort=condition&order={{ order }}">Condition</a>
                <a href="/sort/decademade?sort=decademade&order={{ order }}">Decade Made</a>
                <a href="/sort/pricepaid?sort=pricepaid&order={{ order }}">Price Paid</a>
            </div>
        </div>
    
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Condition</th>
                    <th>Decade Made</th>
                    <th>Price Paid</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for toy in toys %}
                <tr>
                    <td>{{  toy[0]  }}</td>
                    <td>{{  toy[1]  }}</td>
                    <td>{{  toy[2]  }}</td>
                    <td>{{  toy[3]  }}</td>
                    <td><img src="/static/image/{{  toy[4]  }}" alt="{{  toy[0]  }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}